#root {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
}

canvas {
  background-color: #ffffff;
}

.canvas__sizes {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.options {
  gap: 1rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.option {
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.range {
  display: flex;
  align-items: center;
}

.footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
  font-size: 1rem;
}

.footer a {
  padding-right: 0.3rem;
}

.github {
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: #fafafa;
}

.github:hover {
  animation: logo-spin 0.5s ease;
}

.canvas__conteiner {
  margin: 0.5rem 0;
  width: 100%;
  height: 60%;
  overflow: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 540px) {
  .footer {
    font-size: 0.8rem;
  }

  .footer a {
    padding-right: 0.2rem;
  }

  .footer {
    position: relative;
  }

  .github {
    width: 1.5rem;
    height: 1.5rem;
  }

  .options {
    width: 100%;
  }

  .option {
    width: 100%;
  }
}
