#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tictactoe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.td-top {
  border-top: 0.13rem solid #d62ed6;
}

.td-bottom {
  border-bottom: 0.13rem solid #d62ed6;
}

.td-right {
  border-right: 0.13rem solid #d62ed6;
}

.td-left {
  border-left: 0.13rem solid #d62ed6;
}
