:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-width: 100%;
  min-height: 100vh;
}

h1 {
  color: #fafafa;
  margin: 0;
  margin-bottom: 2rem;
  font-size: 3rem;
  line-height: 1.1;
}

button {
  width: 80%;
  height: 80%;
  color: #fafafa;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.9rem 1.8rem;
  margin: 0.3rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus {
  border: thin solid #d62ed6;
}

td {
  margin: 0;
  padding: 0;
  height: 100px;
  width: 100px;
  text-align: center;
}

table {
  border-spacing: 0;
}
